#mainContainer {
    width: 400px;
    text-align: center;
    padding-top: 10%;
    margin: auto;
}
h1 {
    font-weight: bold;
    font-size:  250%;
}
p {
    font-size: 180%;
    text-align: justify;
    text-align-last: center;
}
#buttonsContainer {
    display: flex;
    margin: auto;
    padding-top: 5%;
}
.emptySpacer {
    width: 100%;
}
.backButton {
    width: 135%;
    justify-content: center;
}
