#mainContainer {
    text-align: center;
    padding-top: 10%;
    width: 450px;
    margin: auto;
}
h1 {
    font-weight: bold;
    font-size:  250%;
}
p {
    font-size: 180%;
}
#midContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    justify-content: center;
    padding-top: 5%;
}
#valueContainer {
    display: flex;
    margin: auto;
    width: 60%;
    justify-content: center;
    padding-bottom: 8%;
}
#buttonsContainer {
    display: flex;
    padding-top: 5%;
    margin: auto;
}
.emptySpacer {
    width: 100%;
}
.backButton {
    width: 135%;
    justify-content: center;
}
#submitValue {
    width: 30%;
    font-size: 2.5em;
    font-weight: 800;
    background-color: white;
    color: red;
    text-align: center;
}
.errorMessage {
    justify-content: center;
    display: none;
}
#increaseValue, #decreaseValue {
    flex: 33.33%;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: normal;
}
